
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
.logo{
    position: fixed;
    z-index: 3;
}
.logo .lImAbc{
    display:block;
    float:left;
    opacity: 0;
    position: fixed;
    animation-name: logImgAbc;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
    animation-iteration-count: 1;
    text-decoration: none;
    /*z-index: 5;*/

}
.logo .logImg{
    top:0;
    height:40%;
    width: 50px;
    margin-top: -155px;
    margin-left:1%;
}

.logAbc{
    width: 120px;
    height:60px;
    margin-top: 6px;
    margin-left:4.2%;
}

@keyframes logImgAbc {
    0% {
        top: 0;
    }
    100% {
        top:5px;
        opacity: 1;
    }
}

.logText strong{

    font-weight:300;
    font-size:20px;
    overflow: visible;
    overflow-wrap: break-word;
    position: relative;
    /*text-decoration: none;*/
    color:white;
}

.logText {
    text-decoration: none;
}

main {

    height: 100%;
    width: 100%;
}

aside {

    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 20%;
    z-index: 1;
}

section {
    position: relative;
    /*left:80%;*/
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

label {
    left:95%;
    display: inline-block;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 3;
    position: fixed;
}

.line {
    display: block;
    background-color: white;
    width: 40px;
    height: 8px;
    margin: 5px auto;
    transition: background-color .5s ease-in, transform .5s ease-in, width .5s ease-in;
}

.content {
    top: 0;
    bottom: 0;
    position:fixed;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    transition: transform .5s ease-in-out;
    background-image: url("../images/cover.jpg");
    background-size: cover;
}
img{
    margin: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;

}

.asideList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, .7);
}

.asideLink{
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0;
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    transition: color .3s .15s ease-in;
}

.asideLink::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    background-color: #fff;
    width: 0;
    transition: width .3s ease-in;
    z-index: -1;
}

.menuProse{
    text-align: center;
    padding-top: 100px;
}
aside .aProse{
    font-size: 25px;
    color: #FFFFFF;
    z-index: -1;
    text-decoration: none;

}

aside .aProse:hover{
    color: #F74C00;
}
.asideLink:hover {
    color: #F74C00;
}

.asideAnchor:hover::after {
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ .content {
    transform: translateX(20%);  /*nkar@ texapochelu hamar*/
}

input[type="checkbox"]:checked ~ label .line {
    background-color: black;                 /*menu X*/
}

input[type="checkbox"]:checked ~ label .top {
    transform: translateY(0px) rotateZ(45deg);     /* menu X stanalu hamar top shrjel*/
}

input[type="checkbox"]:checked ~ label .bottom {
    transform: translateY(-15px) rotateZ(-45deg);     /* menu X stanalu hamar bottom shrjel*/
}

input[type="checkbox"]:checked ~ label .middle {      /*middle popochutyun chka*/
    width: 0;
}

.middle {
    margin: 0 auto;
}

/*.ua {*/
/*position: absolute;*/
/*right: 20px;*/
/*bottom: 20px;*/
/*color: #0799d3;*/
/*font-size: 2em;*/
/*z-index: 2;*/
/*}*/
